*.mp4
YTACM-EYE/app/out/*.png
shared/*
YTACM-BRAIN/app/__pycache__/*
YTACM-BRAIN/app/travel-history.txt
*.csv
*.txt
YTACM-BRAIN/app/solution.stats
YTACM-BRAIN/app/travel.hist
YTACM-BRAIN/app/solvestate.xlsx
YTACM-EYE/app/cross-math-scan-result.txt
controller/__pycache__/*
